<main>
    <h1>Sign up</h1><br><br>
    <form method="post" action="/users">
        <label for="input">First Name:</label>
        <input name="user[first_name]" type="text">
        <br><br>

        <label for="input">Last Name:</label>
        <input  name="user[last_name]" type="text">
        <br><br>

        <label for="input">Email</label>
        <input name="user[email]" type="text">
        <br><br>

        <label for="input">Password:</label>
        <input type="password" name="password" type="text">
        <br><br>

        <label for="input">Confirm Password:</label>
        <input type="password" name="confirm_password" type="text">
        <br><br>

        <input type="submit" value="Sign Up" class="button">
    </form>
    <div>
        <% if @errors%>
          <% @errors.each do |error| %>
            <ul>
              <li><%= error %></li>
            </ul>
          <% end %>
        <% end %>
    </div>
</main>
