<div class="content">
<br>
<br>

<div class="homepage">
<center class="instructions">Instructions for Game:</center>
<ol>
  <li>Sign up or login with your account to start playing</li><br>
  <li>Spin the wheel to select your game topic</li><br>
  <li>The game will quiz you on fun questions, select an answer to move on</li><br>
  <li>Get points with every correct answer!</li><br>
  <li>See progress on your account</li><br>
  <li>Compare your scores with all your friends</li><br>
</ol>
<center>Sounds good? Let's start!</center>
</div>
</div>
