<center>
  <canvas onclick="spin();" id="wheelcanvas" onmousedown="wheelmsDown(event);" onmousemove="wheelmsMoving(event);" onmouseup="wheelmsUp(event); spin();" onmouseout="wheelmsUp(event);" width="300" height="300" >
            <br/><br/><div style="background:white; padding:15px;"><br/><a href="https://www.classtools.net/wheel">Spin Again</a></div><br/><br/>Your browser cannot display the wheel of choices. Please upgrade to a newer browser that supports HTML5.<br/><br/>
  </canvas>
  <!-- <div id="ads1">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8912794096382956"
         data-ad-slot="7098309720"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div> -->
</center>

<!-- ================================================================================= -->
<div id="wellDoneWrapper">
  <div id="wellDone" style="display:none;border:2px #FFCC66 solid; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;position:absolute;text-align:center;z-index:50;background:#510f11;color:white;padding:20px;">WELL DONE!</div>
  </div>
<style type="text/css" media="screen">
  #wellDone{font-family: 'Rye', cursive;}
  body, html{text-rendering: auto;font-family:Verdana, Geneva, sans-serif;margin: 0 auto;}
  .editit a:link,.editit a:visited,.editit a:active{color:white;text-decoration:none;}
  h1 {color: rgb(200,200,200);}
  h2{font-family: 'Rye', cursive;}
  h3 {text-shadow: 0.5px 1px 1px #88D;}
</style>

